html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(234, 228, 245);
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.menu-item {
  background-color: rgb(255, 255, 255);
}

.menu-title {
  font-size: 7rem;
}

.menu-price {
  font-size: 6rem;
}
