html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(234, 228, 245);
  font-family: "Spectral", serif;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 20rem;
  margin-right: 20rem;
}

.menu-item {
  background-color: rgb(255, 255, 255);
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-shadow: 2rem 2rem rgb(183, 178, 214);

  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 5%;
  margin-left: 5%;
}

.menu-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.menu-price {
  font-size: 3rem;
  margin-top: 2rem;
}

.flex-picture {
  width: 25rem;
  height: 25rem;
}

.menu-item:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.flex-animation-image {
  height: 6rem;
  width: 6rem;
}
.flex-animation {
  height: 2%;
  width: 2%;
  animation: flex 6s ease-in infinite;
  position: relative;
}
@keyframes flex {
  0% {
    left: 5%;

    top: 3%;
  }
  25% {
    left: 92%;
    top: 3%;
  }
  50% {
    left: 92%;
    top: 100%;
  }
  75% {
    left: 5%;
    top: 100%;
  }

  100% {
    left: 5%;
    top: 3%;
  }
}
