html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(234, 228, 245);
  font-family: "Spectral", serif;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 10rem;
  margin-left: 10%;
  margin-right: 10%;
}

.menu-item {
  background-color: rgb(255, 255, 255);
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-shadow: 2rem 2rem rgb(183, 178, 214);

  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 5%;
  margin-left: 5%;
}

.menu-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.menu-price {
  font-size: 3rem;
  margin-top: 2rem;
}

.flex-picture {
  width: 25rem;
  height: 25rem;
}

.flex-row-one:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.flex-row-two:hover {
  transform: scale(1.1);
  outline: 1rem solid rgb(132, 117, 175);
  transition: all 0.5s;
}

.flex-row-three:hover {
  transform: scale(1.1);
  transition: all 2.5s;
  transform: rotate(360deg);
  
}

.flex-row-four:hover {
  transform: scale(1.1);
  background-color: rgb(231, 232, 250);
  transition: all 0.5s;

}

.flex-row-five:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  opacity: 0.7;
}

.flex-animation-image {
  height: 6rem;
  width: 6rem;
}
.flex-animation {
  height: 2%;
  width: 2%;
  animation: flex-pusheen 25s ease-in;
  position: relative;
}
@keyframes flex-pusheen {
  0% {
    left: 5%;
    top: 2%;
  }
  25% {
    left: 92%;
    top: 2%;
  }
  50% {
    left: 92%;
    top: 101%;
  }
  75% {
    left: 5%;
    top: 101%;
  }

  100% {
    left: 5%;
    top: 2%;
  }
}

@media (max-width: 810px) {
  body {
    background-color: rgb(178, 163, 202);
  }

  .menu-item {
    box-shadow: 2rem 2rem rgb(100, 90, 121);
  }

  @media (max-width: 390px) {
    body {
      background-color: rgb(134, 109, 163);
    }
  
    .menu-item {
      box-shadow: 2rem 2rem rgb(53, 34, 85);
    }
  }